
.pageBody{
    position: relative;
    margin-top: 4rem;
    background-color: #385D66;
    
    
    width: 100%;
    font-family: 'Exo 2';
    flex-direction: column;
    display: block;
    align-items: center;
    // background: rgb(56,93,102);

    h1 {
        font-size: 3.5rem;
        color:#fff;
        text-shadow: 0.3rem 0.3rem 0px #EC795C;
        margin-bottom:20px;
        margin-top: 0;
    }

    .tBlock {
        display: block;
        height: 1050px;
        background: rgb(56,93,102);
        background: linear-gradient(262deg, rgba(56,93,102,1) 0%, rgba(75,114,123,1) 65%, rgba(106,147,157,1) 100%);
        
        padding: 0 0 6em;
        
        .tContainer{
            display: flex;
            margin: 0 auto;
            max-width: 1556px;
            justify-content: space-around;
            padding-top: 200px;
            


            .imageContainer {
                
                min-width: 500px;
                border-radius: 25px;
                box-shadow: 10px 10px 0px #F1BF60;

                img {
                    width: fit-content;
                    border-radius: 25px;
                }
            }


            .tText {
                margin-left: 5%;
                display: block;
                animation-name: slidein;
                animation-duration: 2s;


                
                .subtitle {
                    color:#fff;
                    font-weight: 600;
                    font-size: 2rem;
                    
                }


                h1 {
                    margin-top: 0.67em;
                }
                .paragraph p {
                    color: #fff;
                    font-size: 1.3rem;
                }

            }
        }

    }

    .sectionLine {
        width: 80%;
        height: 0px;
        border: 4px solid #DFE0C0;
        border-radius: 25px;
        margin: 60px auto;
        background-color: #DFE0C0;
        

    }

    .experience_education {
        width: 1500px;
        max-width: 80%;
        display: flex;
        margin: auto;
        color: #fff;
        font-size: 1.3rem;

        h1 {
            margin-bottom: 40px;
        }

        span {
            font-weight: 800;
            font-size: 1.5rem;
        }

        .experience {
            width: 50%;
            padding-right: 40px;
            .edBody {
                
                .position_date {
                    margin-bottom: 30px;
                    margin: 20px 0;
                    display: flex;
                    justify-content: space-between;

                }
                

            }
        }
        .education {
            width: 50%;
            padding-right: 40px;
            .exBody {
                .major_date {
                    margin: 20px 0;
                    margin-bottom: 30px;
                    display: flex;
                    justify-content: space-between;

                }
                
            }
        }


    }

    .aboutWeb {
        display: flex;
        flex-direction: column;
        
        margin: auto;

        h1 {
            width: 80%;
            margin:auto;
            margin-bottom: 30px;
        }

        .tree {
            border: solid 3px #DFE0C0;
            margin: auto;
            border-radius: 25px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-self: center;

            img {
                display: none;
            }


            .credit {
                color: #DFE0C0;
                font-size: 1.3rem;
                text-align: end;
                margin: 20px 0;

                a {
                    text-decoration: underline;
                }

            }

        }

        p {
            color: #fff;
            font-size: 1.5rem;
            width: 50%;
            text-align: center;
            margin: auto;
        }

        .mobile {
            display: none;
        }
    }

    .places {
        max-width: 80%;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            display: flex;
            justify-content: space-between;
            width: 100%;
            
            margin:auto;
            margin-bottom: 30px;

            .imageContainer {
                height: 70px;
                width: 70px;
                img {
                    width: fit-content;
                }
            }
        }

        p {
            color: #fff;
            font-size: 1.6rem;
            width: 100%;
            text-align: left;
            margin: auto;
            margin-bottom: 75px;
        }

        .imageContainer2 { 
            width: 100%;
            margin-bottom: 50px;
        }

        button {
            margin:auto;
        }


    }

    .formSection {
        width: 1500px;
        width: 80%;
        margin: auto;

        .content {
            display:flex;
            justify-content: space-between;
            align-items: center;
            .contactPhoto {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 48%;
                
                .imageContainer {
                    position: relative;
                    border-radius: 13px;
                    width: 90%;
                    height: 700px;

                    
                    
                    img {
                        border-radius: 13px;
                        
                        
                        
                        // width: fit-content;
                        
                    }
                    
                }

                p {
                    margin: 10px;
                    color: #fff;
                    text-align: center;
                    font-size: 1.5rem;
                }
            }
            .form {
                width: 48%;
            }
        }
    }
    
    
}


@media screen and (max-width:1280px) {
    .pageBody {
        overflow: hidden;
        .tBlock {
            .tContainer {
                padding-top: 100px;
            
                max-width: auto;
                width: 80%;
                align-items: center;

                .imageContainer {
                    min-width: 350px;
                }

            }
        }

        .experience_education {
            max-width: 500px;
            width: auto;
            
            flex-direction: column;
            

            span {
                font-size: 1.3rem;
            }



            .experience {
                padding:0;
                width: 100%;
                font-size: 1.1rem;

                .edBody {
                
                    .position_date {
                        margin:0;
                        margin-top: 10px;
                        margin-bottom: 30px;

                         .job_position {
                            width: 50%;
                        }
                      

                    }
                    
    
                }
            }

            .education {
                padding:0;
                width: 100%;
                font-size: 1.1rem;

                .exBody {
                    .major_date {
                        margin:0;
                        margin-top: 10px;
                        margin-bottom: 30px;
    
                    }
                    
                }
            }
        }


    }


}


@media screen and (max-width:958px) {
    .pageBody {

        .tBlock {
            height: auto;
            .tContainer {
                flex-direction: column;
                padding-top: 20px;
            
                max-width: auto;
                width: 90%;
                justify-content: flex-start;

                img {
                    height: 350px;
                    border-radius: 25px;
                    box-shadow: 10px 10px 0px #F1BF60;
                }
                

                p {
                    margin: 0;
                }
                .tText {
                    margin: 0;
                    .subtitle {
                        font-size: 1.8rem;
                        margin-bottom: 10px;

                    }

                    h1 {
                        margin-top: 10px;
                    }
                }

            }
        }
        .experience_education {
            max-width: 90%;
        }

        .sectionLine:nth-child(6) {
            display:none;
        }

        /*Might remove as this is just display none*/
        .aboutWeb {
            display:none;

            h1 {
                width: 90%;
                
            }

            

            .tree {
                width: 95%;
                margin-bottom: 10px;
                

                .treeList {
                    display: none;
                }

                img {
                    display: block;
                    border-radius: 25px;
                }

                .credit {
                    font-size: 1rem;
                }

            }

            .mobile {
                display: block;
                font-size: 1.2rem;
                text-align: center;
                padding-bottom: 20px;
                font-style: italic;
            }
            p {
                width: 90%;
                font-size: 1.3rem;
                text-align: start;
            }

        }

        .places {
            max-width: 90%;

            .title .imageContainer {
                height: 50px;
                margin:0;
                margin-top: 10px;
            }

            .title {
                align-items: flex-start;
            }

            p {
                font-size: 1.3rem;
                margin-bottom: 30px;
            }

        }

        .formSection {
            width: 90%;

            .content {
                flex-direction: column;
                .contactPhoto {
                    width: 90%;
                    .imageContainer{
                    width: 100%;
                    height: 400px;
                
                    }
                }

                .form {
                    width: 90%
                }
            };

        }

        .sectionLine {
            width: 90%;
        }
    }




}


@keyframes slidein {
    from {
      transform: translateY(-50px);
      opacity:(0%);
    }
  
    to {
      transform: translateY(0);
      opacity:(100%);
    }
  }
