
.pageBody{
    position: relative;
    margin-top: 4rem;
    background-color: #385D66;
    
    
    width: 100%;
    font-family: 'Exo 2';
    flex-direction: column;
    display: block;
    align-items: center;
    // background: rgb(56,93,102);

    .tBlock {
        display: block;
        height: 1050px;
        background: rgb(56,93,102);
        background: linear-gradient(262deg, rgba(56,93,102,1) 0%, rgba(75,114,123,1) 65%, rgba(106,147,157,1) 100%);
        margin-bottom: 38em;
        padding: 0 0 6em;
        
        .tContainer{
            display: flex;
            margin: 0 auto;
            max-width: 1556px;
            justify-content: space-around;
            padding-top: 200px;
            


            img {
                height: 500px;
                border-radius: 25px;
                box-shadow: 10px 10px 0px #F1BF60;
            }


            .tText {
                margin-left: 5%;
                display: block;
                animation-name: slidein;
                animation-duration: 2s;


                
                .subtitle {
                    color:#fff;
                    font-weight: 600;
                    font-size: 2rem;
                    
                }


                h2 {
                    font-size: 3.5rem;
                    color:#fff;
                    text-shadow: 0.3rem 0.3rem 0px #EC795C;
                    margin-bottom:20px;
                }
                .paragraph p {
                    color: #fff;
                    font-size: 1.3rem;
                }

            }
        }

    }
    
    
}


@media screen and (max-width:1280px) {
    .pageBody {
        .tBlock {
            .tContainer {
                padding-top: 100px;
            
                max-width: auto;
                width: 80%;
                align-items: center;

                img {
                    height: 350px;
                }

            }
        }
    }


}

@media screen and (max-width:1280px) {
    .pageBody {
        .tBlock {
            .tContainer {
                padding-top: 100px;
            
                max-width: auto;
                width: 80%;
                align-items: center;

                img {
                    height: 350px;
                }

            }
        }
    }


}

@media screen and (max-width:958px) {
    .pageBody {
        .tBlock {
            .tContainer {
                flex-direction: column;
                padding-top: 40px;
            
                max-width: auto;
                width: 90%;
                justify-content: flex-start;

                img {
                    height: 450px;
                    border-radius: 25px;
                    box-shadow: 10px 10px 0px #F1BF60;
                }
                h2 {
                    margin-top: 10px;
                }

            }
        }
    }


}

@keyframes slidein {
    from {
      transform: translateY(-50px);
      opacity:(0%);
    }
  
    to {
      transform: translateY(0);
      opacity:(100%);
    }
  }
