
.pageContainer {
    margin-top: 4rem;
    
    h1 {
        font-size: 3.5rem;
        color:#fff;
        text-shadow: 0.3rem 0.3rem 0px #EC795C;
        margin-bottom:20px;
        margin-top: 0;
    }
}