
.pageBody{
    position: relative;
    margin-top: 4rem;
    background-color: #385D66;
    
    
    width: 100%;
    font-family: 'Exo 2';
    flex-direction: column;
    display: block;
    align-items: center;
    // background: rgb(56,93,102);

    .tContainer {
        height: 1050px;
        background: rgb(56,93,102);
        background: linear-gradient(262deg, rgba(56,93,102,1) 0%, rgba(75,114,123,1) 65%, rgba(106,147,157,1) 100%);
        margin-bottom: 38em;
        padding: 0 0 6em;

        .title {
            padding: 14em 0;
            display: block;
            margin: 0 10%;

            
            .subtitle {
                color:#fff;
                font-weight: 100;
                margin-top: 200px;
                font-size: 2rem;
            }


            h1 {
                font-size: 3.5rem;
                color:#fff;
                text-shadow: 0.3rem 0.3rem 0px #EC795C;
                margin-bottom:20px;
            }

        }

        .titlePhoto {
            max-width: 80%;
            margin: 0 auto;
            display: flex;

            align-items: center;
            justify-content: space-between;
            img {
                max-width: 30%;
                position: relative;
            }
            img:nth-child(2) {
                top: -90px
            }
            img:nth-child(3) {
                top: -180px
            }

        }
    }

    .contentContainer {
        
        p  {
            line-height: 30px;
        }
        ul li {
            line-height: 28px;
        }
        display: block;
        max-width: 1570px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        // padding-left: 16px;
        // padding-right: 16px;


        .contentRow {
            margin-left: 25%;
            width: 50%;
            margin-bottom: 60px;

            h2 {
                font-size: 2.5rem;
                color: #EC795C;
            }
            p {
                font-size: 1.3rem;
                color: #fff;
            }
            ul li {
                color: #fff;
                font-size: 1.3rem;
                b {
                    text-decoration:underline;
                }

            }

        }

        .contentPhotos {
            display: flex;
            align-items: flex-start;
            max-width: 80%;
            justify-content: space-between;
            margin: 0 auto;

            .pCont {
                max-width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    color: #DFE0C0;
                    font-size: 1.3rem;
                    text-align: center;

                }
                h3 {
                    color:#F1BF60;
                    font-style: italic;
                    font-size: 2rem;
                    margin-bottom: 0;
                }
            }
            
        }

        .contentGallery {
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: 80%;
            margin: 0 auto;


            .gCont {
                max-width: 40%;

                p {
                    color: #fff;
                    text-align: center;
                    font-size: 1.2rem;
                }

                img {
                    max-width: 100%;
                }
                
            }


        }
    }
    
}

@media screen and (max-width:800px) {
    .pageBody {
        .tContainer {
            height: auto;

            .title {
                margin: 0 5%;
                padding: 4em 0;
                
                h1 {
                    font-size: 2.5rem;
                }
                .subtitle {
                    font-size: 1.5rem;
                }
            }

            .titlePhoto {
                img:nth-child(2) {
                    top: 0;
                }
                img:nth-child(3) {
                    top: 0;
                }

            }
        }
        .contentContainer {
            width: 100%;
            .contentRow {
                margin: 0px 15px 60px 15px;
                width: auto;

            }

            .contentPhotos {
                flex-direction: column;
                margin: 0 16px;
                max-width: 100%;
                .pCont{
                    max-width: 100%;

                }
            }
            .contentGallery {
                max-width: 100%;
                flex-direction: column;
                margin: 0;
                
                img {
                    max-width: 60%;
                }

            }
        }
    }


}

@media screen and (max-width:1280px) {
    .pageBody {
        .tContainer {
            margin-bottom: 15em;
        }
    }


}

@media screen and (max-width:958px) {
    .pageBody {
        .tContainer {
            margin-bottom: 5em;
        }
        .contentContainer {
            .contentRow {
                width: 80%;
                margin-left: 10%;
            }
        }
    }


}